version: "3.8"

services:
  bank_simulator:
    container_name: bank_simulator
    image: bbyars/mountebank:2.8.1
    ports:
      - "2525:2525"
      - "8080:8080"
    command: --configfile /imposters/bank_simulator.ejs --allowInjection
    volumes:
      - type: bind
        source: ./imposters
        target: /imposters

  gateway:
    container_name: payment_gateway
    build: .
    depends_on:
      - bank_simulator
    environment:
      - bank.base-url=http://bank_simulator:8080
      - gateway.security.api-keys=test-key:test-merchant
      - server.port=8090
    ports:
      - "8090:8090"
